alembic==1.16.4
beautifulsoup4>=4.12.2
chardet>=5.1.0
debugpy==1.8.15
docx2txt>=0.9
EbookLib>=0.18
extract-msg>=0.45.0
lxml>=4.9.3
mail-parser>=4.1.4
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
opentelemetry-sdk
prometheus-client
PyMuPDF>=1.23.7
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest==8.4.1
python-dotenv==1.1.1