aio-pika>=8.3.0
alembic==1.16.4
beautifulsoup4
beautifulsoup4>=4.12.2
chardet
chardet>=5.1.0
debugpy==1.8.15
docx2txt
docx2txt>=0.9
ebooklib
EbookLib>=0.18
extract_msg
extract-msg>=0.45.0
lxml
lxml>=4.9.3
mail-parser>=4.1.4
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
opentelemetry-sdk
passlib 
passlib[bcrypt]
prometheus-client
pydantic
pydantic_settings
PyMuPDF==1.26.3
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest==8.4.1
python-dotenv==1.1.1
python-jose