@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base Typography and Body Setup */
html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
}

/* Root container layout helper */
#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}