# Ignore all files and directories by default
**

# Include folders that should not be ignored
!frontends/
!services/
!core/

# Ignore specific files and directories
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/.DS_Store
**/*.py[cod]
**/*.egg-info/
**/*.log
**/dist/
**/build/
**/node_modules/
**/.coverage

# Ignore test directories
**/tests/

# Ignore local tooling
**/.vscode/
**/.devcontainer/
