VERSION=0.0.1
DEBUG_MODE=True

VITE_SENTRA_API_URL=http://sentra-api:8100
VITE_SENTRA_WEB_URL=http://sentra-web:3100
VITE_SENTRA_ADMIN_URL=http://sentra-admin:3200
VITE_LLM_SERVER_URL=http://llama-server:11434
VITE_CHROMA_DB_URL=http://sentra-vector-db:8001