:root {
  --sentra-primary: #1e1e2f;
  --sentra-primary-light: #2a2a3c;
  --sentra-primary-dark: #16161c;
  --sentra-accent: #4b9fff;
  --sentra-accent-light: #a3cfff;
  --sentra-neutral: #f4f4f7;
  --sentra-text: #f4f4f4;

  --grid-color: rgba(255, 255, 255, 0.015); 
}

/* Light theme example */
[data-theme="light"] {
  --sentra-primary: #eee;
  --sentra-primary-light: #f3f3f0;
  --sentra-primary-dark: #d6d6dc;

  --sentra-accent: #007acc;
  --sentra-accent-light: #cce9ff;

  --sentra-neutral: #1e1e2f;
  --sentra-text: #202020;

  --grid-color: rgba(0, 0, 0, 0.015);
}
