API_VERSION=0.0.1
DEBUG_MODE=True
PYTHONPATH=../sentra-core

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=juan@jgcarmona.com
INITIAL_ADMIN_PASSWORD=P@ssw0rd!
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# PostgreSQL Connection String for Docker Compose
DATABASE_URL=postgresql+psycopg2://sentra_admin:changeit@sentra-sql-db:5432/sentra_brain

# ======================
# vLLM Server
# ======================
VLLM_SERVER_URL=http://vllm:8000

# ======================
# MongoDB
# ======================
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=changeit
MONGO_HOST=sentra-nosql-db
MONGO_PORT=27017
MONGO_DATABASE=sentra_brain

MONGO_URL=mongodb://admin:changeit@sentra-nosql-db:27017/sentra_brain

# ======================
# RAG Server
# ======================
RAG_SERVER_URL=http://sentra-rag-server:9100
RAG_QUERY_TIMEOUT=10

# We could perfectly use our gmail account for SMTP ;)
USE_SMTP=False # If you want to use SMTP, set this to True
SMTP_SERVER=your.smtp.server.com
SMTP_PORT=1234
SMTP_USERNAME=your_user@your_domain.com
SMTP_PASSWORD=your_password
SENDER_EMAIL=your_user@your_domain.com