
bcrypt==4.0.1
debugpy
email-validator
fastapi
httpx
passlib 
passlib[bcrypt]
pika
psycopg2-binary
pydantic
pydantic-settings
pymongo
sqlalchemy

python-jose
python-multipart

uvicorn

-e ../../libs/sentra-shared